{layout name="layout/layout_index"}
<!-- 大图轮播 -->
<div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: 58px;">

    <!-- 指示符 -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- 轮播图片 -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="__UPLOAD__lbA1.PNg">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="carousel-item">
            <img src="__UPLOAD__lbA2.png">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="carousel-item">
            <img src="__UPLOAD__lbA3.PNG">
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
<!-- 轮播结束 -->

<!-- 解决方案 -->
<div class="container">
    <div class="solution-swiper">
        <div class="div-swiper">
            <h3>解决方案</h3>
            <h5>提供多种行业解决方案，亦可根据您的要求度身定制</h5>
        </div>
    </div>

    <!-- 解决方案轮播 -->
    <div id="swiper-solution" class="carousel slide" data-ride="carousel">

        <!-- 轮播div -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row row-item">
                    <div class="div-swiper solution-item ">
                        <img src="__UPLOAD__04.jpg" class="solution-size imgpadding">
                        <h5 class="solution-title">工业品小程序</h5>
                        <p class="text-subtitle">为工业品行业提供小程序方案</p>
                        <div class="desc-text">
                            <ul>
                                <li>主动适应新兴销售模式</li>
                                <li>开拓全新销售渠道</li>
                                <li>打通线上线下</li>
                                <li>实现工业品销售新变革</li>
                            </ul>
                            <div>
                                <a class="btn btn-secondary btn-sm" href="#">了解详情</a>
                                <a class="btn btn-primary btn-sm" href="#"  >申请试用</a>
                            </div>
                        </div>
                    </div>

                    <div class="div-swiper solution-item">
                        <img src="__UPLOAD__03.png" class="solution-size imgpadding">
                        <h5 class="solution-title">水果零售小程序</h5>
                        <p class="text-subtitle">为水果零售行业提供小程序方案</p>
                        <div class="desc-text">
                            <ul>
                                <li>主动适应新兴销售模式</li>
                                <li>开拓全新销售渠道</li>
                                <li>打通线上线下</li>
                                <li>实现工业品销售新变革</li>
                            </ul>
                            <div>
                                <a class="btn btn-secondary btn-lg" href="#">了解详情</a>
                                <a href="#" class="btn btn-primary btn-lg" role="button">申请试用</a>
                            </div>
                        </div>
                    </div>

                    <div class="div-swiper solution-item">
                        <img src="__UPLOAD__02.png" class="solution-size imgpadding">
                        <h5 class="solution-title">订餐小程序</h5>
                        <p class="text-subtitle">为餐饮行业提供小程序方案</p>
                        <div class="desc-text">
                            <ul>
                                <li>主动适应新兴销售模式</li>
                                <li>开拓全新销售渠道</li>
                                <li>打通线上线下</li>
                                <li>实现工业品销售新变革</li>
                            </ul>
                            <div>
                                <a class="btn btn-secondary btn-lg" href="#">了解详情</a>
                                <a href="#" class="btn btn-primary btn-lg" role="button">申请试用</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row row-item">
                    <div class="div-swiper solution-item">
                        <img src="__UPLOAD__01.png" class="solution-size imgpadding">
                        <h5 class="solution-title">服装零售小程序</h5>
                        <p class="text-subtitle">为服装行业提供小程序方案</p>
                        <div class="desc-text">
                            <ul>
                                <li>主动适应新兴销售模式</li>
                                <li>开拓全新销售渠道</li>
                                <li>打通线上线下</li>
                                <li>实现工业品销售新变革</li>
                            </ul>
                            <div>
                                <a class="btn btn-secondary btn-lg" href="#">了解详情</a>
                                <a href="#" class="btn btn-primary btn-lg" role="button">申请试用</a>
                            </div>
                        </div>
                    </div>

                    <div class="div-swiper solution-item">
                        <img src="__UPLOAD__05.png" class="solution-size imgpadding">
                        <h5 class="solution-title">家具小程序</h5>
                        <p class="text-subtitle">为家具行业提供小程序方案</p>
                        <div class="desc-text">
                            <ul>
                                <li>主动适应新兴销售模式</li>
                                <li>开拓全新销售渠道</li>
                                <li>打通线上线下</li>
                                <li>实现工业品销售新变革</li>
                            </ul>
                            <div>
                                <a class="btn btn-secondary btn-lg" href="#">了解详情</a>
                                <a href="#" class="btn btn-primary btn-lg" role="button">申请试用</a>
                            </div>
                        </div>
                    </div>
                    <div class="div-swiper solution-item">
                        <img src="__UPLOAD__06.png" class="solution-size imgpadding">
                        <h5 class="solution-title">室内装饰小程序</h5>
                        <p class="text-subtitle">为装修行业提供小程序方案</p>
                        <div class="desc-text">
                            <ul>
                                <li>主动适应新兴销售模式</li>
                                <li>开拓全新销售渠道</li>
                                <li>打通线上线下</li>
                                <li>实现工业品销售新变革</li>
                            </ul>
                            <div>
                                <a class="btn btn-secondary btn-lg" href="#">了解详情</a>
                                <a href="#" class="btn btn-primary btn-lg" role="button">申请试用</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 左右切换按钮 -->
            <a class="carousel-control-prev" href="#swiper-solution" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#swiper-solution" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
            <!-- 轮播结束 -->
        </div>


    </div>
</div>

<div class="container">
    <div class="solution-swiper">
        <div class="div-swiper">
            <h3>为什么要做微信小程序</h3>
            <h5>紧跟时代潮流、拓宽营销渠道、摆脱平台盘剥、建立自主电商平台</h5>
        </div>
    </div>
</div>

<!-- 小程序轮播 -->
<div id="miniapp" class="carousel slide" data-ride="carousel" >
    <!-- 指示符 -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- 轮播图片 -->
    <div class="carousel-inner">
        <div class="carousel-item active">

            <div class="mini-lb01">
                <div class="container lb01-div">
                    <h1 style="padding-top: 100px;margin-left: 50px;color: white;font-family:YouYuan"></h1>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="mini-lb02">
                <div class="container lb02-div">
                    <h1 style="padding-top: 100px;margin-left: 50px;color: white;font-family:YouYuan"></h1>
                </div>
            </div>
            <div class="carousel-caption"> 	      </div>
        </div>
        <div class="carousel-item">
            <div class="mini-lb03">
                <div class="container lb03-div">
                    <h1 style="padding-top: 100px;margin-left: 50px;color: white;font-family:YouYuan"></h1>
                </div>
            </div>
        </div>
    </div>

    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#miniapp" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#miniapp" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
<!-- 案例结束 -->

<div class="container">
    <div class="solution-swiper">
        <div class="div-swiper">
            <h3>成功案例</h3>
            <h5>众多商家已经建立微信程序，紧跟时代潮流、拓宽营销渠道、摆脱平台盘剥、建立自主电商平台</h5>
        </div>
    </div>
</div>
<!-- SuccessCase -->
<div class="container">
    <div class="successcase">
        <ul>
            <li>
                <a href="sucCase.php?id=1">
						<span class="pic">
							<img src="__UPLOAD__cxtlogo.png">
						</span>
                    <h3>订餐</h3>
                    <p>订餐小程序，餐饮行业O2O新选择，线上下单、支付、订单管理等全业务流程管理。</p>
                </a>

            </li>
            <li>
					<span class="pic">
						<img src="__UPLOAD__wosidilogo.png">
					</span>
                <h3>工业品</h3>
                <p>沃斯迪物流设备微信小程序商城，成功的工业品微信小程序解决方案，为工业品销售另辟蹊径。</p>
            </li>
            <li>
					<span class="pic">
						<img src="__UPLOAD__cjlogo.png">
					</span>
                <h3>土特产</h3>
                <p>陈记土特产专卖店，主营地方土特产，可线上下单线下自提，或快递发货。</p>
            </li>
        </ul>
    </div>
</div>
<!-- 案例结束 -->