{layout name="layout"}
<div class="bgindustry bgsolution" style="margin-top: 58px;">
    <img src="__UPLOAD__icon_industry.png">
    <div>
        <h1>工业制品</h1>
        <h3>适用于:工业产品销售</h3>
    </div>
    <div>
        <a class="btn btn-secondary btn-large"  href="#">了解详情</a>
        <a class="btn btn-primary btn-large" href="#"  >申请试用</a>
    </div>
</div>
<div class="container content2">
    <div>
        <h3>工业制品销售功能模块</h3>
        <div class="row col-lg-12">
            <div class="catering-module keyframes2">网络选款</div>
            <div class="catering-module keyframes2">网络下单</div>
            <div class="catering-module keyframes2">定制产品</div>
            <div class="catering-module keyframes2">优惠券</div>
        </div>
        <div class="row col-lg-12">
            <div class="catering-module keyframes2">订单管理</div>
            <div class="catering-module keyframes2">小票打印</div>
            <div class="catering-module keyframes2">物流查询</div>
            <div class="catering-module keyframes2">收款管理</div>
        </div>
    </div>
</div>
<div class="content3">
    <h3>功能模块示意</h3>
    <div class="anim-bg">
        <div class="container">
            <div class="row content-anim">
                <img class="minimod01" src="__UPLOAD__miniapp01.png">
                <img class="minimod02" src="__UPLOAD__miniapp02.png">
                <img class="minimod03" src="__UPLOAD__miniapp03.png">
            </div>
        </div>
    </div>
</div>
{include file="layout/solution_item" /}