<div class="container"> 
    <!-- 导航栏 -->
    <header>
        <nav class="navbar navbar-expand-sm bg-darker navbar-dark fixed-top">
            <div class="container">
                <img src="__UPLOAD__logo.png"/>
                <div class="hotlinetel">销售热线：400-000-0000</div>
                <ul class="menu">
                    <li><a href="{:url('index/index')}">首页</a></li>
                    <li><a href="{:url('solution/index')}">解决方案<span class="icon-caret-down icon-space"></span></a>
                        <ul class="submenu">
                            <li><a href="{:url('/catering')}" target="_self">餐饮行业</a></li>
                            <li><a href="{:url('/biulding')}" target="_self">建材行业</a></li>
                            <li><a href="{:url('/furniture')}" target="_self">家具行业</a></li>
                            <li><a href="{:url('/cloth')}" target="_self">服装行业</a></li>
                            <li><a href="{:url('/fruit')}" target="_self">水果零售</a></li>
                            <li><a href="{:url('/industry')}" target="_self">工业品</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="{:url('Cases/index')}">产品中心<span class="icon-caret-down icon-space"></span></a>
                        <ul class="submenu">
                            <li><a href="#">小程序开发</a></li>
                            <li><a href="#">网站开发</a></li>
                            <li><a href="#">手机站开发</a></li>
                            <li><a href="#">营销推广</a></li>
                        </ul>
                    </li>
                    <li><a href="{:url('agent/index')}">招商加盟</a></li>
                    <li><a href="#">关于我们<span class="icon-caret-down icon-space"></span></a>
                        <ul class="submenu">
                            <li><a href="#">公司介绍</a></li>
                            <li><a href="#">联系我们</a></li>
                            <li><a href="#">企业文化</a></li>
                            <li><a href="#">新闻资讯</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>