
<div class="content3">
    <h3>为什么选我们</h3>
    <div class="bg4">
        <div class="container content4h bd">
            <div class="row con4up">
                <div class="row div-unit">
                    <div class="bg-darker unit-head"><h2>专</h2></div>
                    <div class="unit-body">
                        <ul>
                            <li>专业技术团队为您保驾护航</li>
                            <li>专业服务团队为您排忧解难</li>
                            <li>专业客服团队为您答疑解惑</li>
                        </ul>
                    </div>
                </div>

                <div class="row div-unit">
                    <div class="bg-darker unit-head"><h2>心</h2></div>
                    <div class="unit-body">
                        <ul>
                            <li>全心全意为您提供优质产品</li>
                            <li>细心细致为您提供优质服务</li>
                            <li>一心一意为您的事业全心助力</li>
                        </ul>
                    </div>
                </div>

                <div class="row div-unit">
                    <div class="bg-darker unit-head"><h2>精</h2></div>
                    <div class="unit-body">
                        <ul>
                            <li>精致的产品</li>
                            <li>精细的服务</li>
                            <li>精心为您着想</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row con4up">
                <div class="row div-unit">
                    <div class="bg-darker unit-head"><h2>实</h2></div>
                    <div class="unit-body">
                        <ul>
                            <li>实实在在给客户实惠</li>
                            <li>踏踏实实做好产品</li>
                            <li>忠实</li>
                        </ul>
                    </div>
                </div>

                <div class="row div-unit">
                    <div class="bg-darker unit-head"><h2>诚</h2></div>
                    <div class="unit-body">
                        <ul>
                            <li>诚信不只是在口头上</li>
                            <li>以诚为本，以行动诠释</li>
                            <li>诚心服务、诚意沟通</li>
                        </ul>
                    </div>
                </div>

                <div class="row div-unit">
                    <div class="bg-darker unit-head"><h2>惠</h2></div>
                    <div class="unit-body">
                        <ul>
                            <li>更低价格，更多功能</li>
                            <li>一次购买终身服务</li>
                            <li>一次购买终身免费升级</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content3">
    <h3>更多产品</h3>
    <div class="content5">
        <div class="container">
            <div class="bg5">
                <div class="row bg51">
                    <div class="more-unit">企业展示</div>
                    <div class="more-unit">房产中介</div>
                    <div class="more-unit">美容美发</div>
                    <div class="more-unit">SPA会所</div>
                    <div class="more-unit">鲜花销售</div>
                    <div class="more-unit">婚庆礼仪</div>
                </div>
                <div class="row bg51">
                    <div class="more-unit">汽车维修</div>
                    <div class="more-unit">面包烘焙</div>
                    <div class="more-unit">中小超市</div>
                    <div class="more-unit">美术培训</div>
                    <div class="more-unit">音乐培训</div>
                    <div class="more-unit">教育培训</div>
                </div>
                <div class="row bg51">
                    <div class="more-unit">母婴用品</div>
                    <div class="more-unit">家政服务</div>
                    <div class="more-unit">健身会所</div>
                    <div class="more-unit">旅游出行</div>
                    <div class="more-unit">社区服务</div>
                    <div class="more-unit">药店药房</div>
                </div>
            </div>
        </div>
    </div>
</div>